pytest
pytest-cov
pylint
requests
python-dotenv
boto3
pandas
pyarrow # for parquet support
psycopg2
psycopg2-binary
streamlit
streamlit-option-menu
awswrangler
openai
altair
altair[all]
pgeocode
plotly
numpy