name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: "pip"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint pytest pytest-cov

    - name: Lint
      run: |
        FILES=$(git ls-files '*.py' | grep -v 'test_')

        if [ -z "$FILES" ]; then
          echo "No Python files found to lint"
          exit 0
        fi

        for f in $FILES; do pylint "$f" --fail-under=8.0 || exit 1; done


    - name: Test with coverage
      run: pytest --cov=. --cov-report=term-missing
